@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section head{
    <script>
        function OptintModel() {
            var it = new Object;
            it.Option = "";
            it.TypeVal = "0";
            return it;
        }
        var items = [];

        $(function () {



            //添加选项
            $("#addOption").click(function () {

                var DIVrow = '<div name="div_option"><input name="option" type="text" style=" width:300px" /> <select name="typeval"> <option value="0">文本</option><option value="1">日期</option> </select>  <a class="delOption" style="cursor: pointer">删除</a></div>';

                $("#div_Option_Main").append($(DIVrow));
            });


            //删除选项
            $(".delOption").live("click", function () {

                $(this).parent().remove();
            });

            //提交事件


        });



        function OnSub() {
            var isOK = true;

            var RowName = $("div[name='div_option']");
            if (RowName.length <= 0) {
                JMessage("请添加表字段", true);
                return false;
            }
            items = [];
            RowName.each(function (i, n) {
                var optionTitle = $(n).find("input[name='option']").val().trim();
                var optionType = $(n).find("select[name='typeval']").val().trim();
                if (optionTitle.length <= 0) {
                    JMessage("请输入字段选项", true);
                    isOK = false;
                    return false;
                }

                var Om = new OptintModel();
                Om.Option = optionTitle;
                Om.TypeVal = optionType;
                items.push(Om);
            });
            var value = JSON.stringify(items);
            $("#Options").val(value);

            return isOK;
        }

    </script>
    <style>
        
    </style>
}
@model Entity.CustomTable_Main
<div class="Div_Title">
    自定义表 -> 创建自定义表
</div>
<div>
    @using (Ajax.BeginForm("AddCustomTable", "CustomTab", null, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <div>
            <input type="button" value="返回" onclick="window.location.href='@Url.Action("SetIndex", "CustomTab")'" class="input_button" />
        </div>
        <br />
        <input type="hidden" id="Options" name="Options"/>
        <table class="Tab_info" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 120px">
                    表名称：
                </td>
                <td>
                    @Html.TextBoxFor(a => a.TableMain, new { style = "width:500px" })
                    <input type="hidden" id="Options" name="Options" />
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.TableMain)
                </td>
            </tr>
            <tr id="tr_option" style=" line-height:30px">
                <td valign="top">
                    表字段：
                </td>
                <td colspan="2" class="Operation">
                    <div id="div_Option_Main" class="operation">
                        <div name="div_option">
                            <input name="option" type="text" style="width: 300px" />
                            <select name="typeval">
                                <option value="0">文本</option>
                                <option value="1">日期</option>
                            </select>
                            <a class="delOption" style="cursor: pointer">删除</a>
                        </div>
                    </div>
                    <div>
                        <a id="addOption" style="cursor: pointer">添加字段</a>
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" id="sub_button" onclick="return OnSub()" class="input_button" value="添加" />
            <input type="button" value="返回" onclick="window.location.href='@Url.Action("SetIndex", "CustomTab")'" class="input_button" />
        </div>
    }
</div>
